<section>
  <div class="root">
    <button routerLink="/admin">Back to Admin</button>
    <div class="results">
      <p>{{ message }}</p>
      <p class="error">{{ error }}</p>
    </div>
    <form
      *ngIf="message === '' && error === ''"
      [formGroup]="articleForm"
      (ngSubmit)="onSubmit()"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <input
          id="name"
          formControlName="name"
          placeholder="Enter article name"
        />
        <label for="name">Name</label>
      </div>
      <div class="form-group">
        <input
          id="teaser"
          formControlName="teaser"
          placeholder="Enter article teaser"
        />
        <label for="teaser">Teaser</label>
      </div>
      <div class="form-group">
        <textarea
          id="description"
          rows="10"
          formControlName="description"
          placeholder="Enter article description"
        ></textarea>
        <label for="description">Description</label>
      </div>
      <div class="image-list" formArrayName="images">
        <div
          class="image-card"
          *ngFor="let imageGroup of images.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="form-row">
            <button type="button" (click)="removeImage(i)">
              <i class="fa-solid fa-trash-can"></i>
            </button>
            <input
              type="file"
              class="file-select"
              id="image-{{ i }}"
              (change)="onFileChange($event, i)"
            />
            <label class="file-label" for="image-{{ i }}"
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></label>
            <div class="form-group input-lg">
              <textarea
                id="caption-{{ i }}"
                rows="4"
                formControlName="caption"
                placeholder="Caption"
              ></textarea>
              <label for="caption-{{ i }}">Caption</label>
            </div>
          </div>
        </div>
      </div>
      <button type="button" (click)="addImage()">
        <i class="fa-solid fa-plus"></i> Add Image
      </button>
      <button *ngIf="piece" type="submit">Update Gallery Piece</button>
      <button *ngIf="!piece" type="submit">Add Gallery Piece</button>
    </form>
  </div>
</section>
