.image-list {
  width: 100%;
}

.image-card {
  box-sizing: border-box;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid var(--primary-light);
  border-radius: var(--radius);
  .form-row {
    justify-content: flex-start;
    align-items: center;
    .input-lg {
      width: 100%;
    }
  }
}

button:last-child {
  margin-top: 50px;
}
