h1 {
  text-align: center;
}

.block {
  width: 350px;
  background-color: var(--primary-light);
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 0;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  &:link,
  &:hover,
  &:active,
  &:visited {
    color: var(--text-on-light);
    text-decoration: none;
  }
  img {
    width: 350px;
  }
  .description {
    padding: 20px;
    background-color: transparent;
  }
  p {
    background-color: transparent;
  }
}

@media all and (min-width: 700px) {
  .container {
    flex-direction: column;
  }
  img {
    width: 450px !important;
  }
  .block {
    width: 450px;
  }
}

@media all and (min-width: 960px) {
  .container {
    flex-direction: column;
  }
  img {
    width: 450px !important;
  }
  .block {
    width: 800px;
    flex-direction: row;
  }
  .block:nth-child(even) {
    flex-direction: row-reverse;
    justify-content: right;
    text-align: right;
  }
}

@media all and (min-width: 1280px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  img {
    width: 450px !important;
  }
  .block {
    width: 1024px;
    flex-direction: row !important;
    justify-content: left !important;
    text-align: left !important;
  }
  .block:nth-child(even) {
    flex-direction: row-reverse !important;
    justify-content: right !important;
    text-align: right !important;
  }
}
