<section class="inventory">
  <div class="form-row">
    <button (click)="onNewItem()">New Item</button>
    <button (click)="onLogout()">Logout</button>
  </div>
  <ng-container *ngFor="let category of categories">
    <h2 class="category">{{ category }}</h2>
    <div
      class="list"
      *ngIf="
        groupedProducts[category] && groupedProducts[category].length > 0;
        else noProducts
      "
    >
      <div
        class="card"
        *ngFor="let item of inventory"
        [routerLink]="['/inventory/', item._id]"
      >
        <div class="header">
          <img [src]="item.images[0]" width="300" />
        </div>
        <div class="content">
          <h3>{{ item.name }}</h3>
          <div *ngIf="item.available; else outOfStock">
            <p class="price">${{ item.price }}</p>
          </div>
        </div>
        <ng-template #outOfStock
          ><p class="unavailable">Out of Stock</p></ng-template
        >
      </div>
    </div>
    <ng-template #noProducts>
      <p class="no-products">No Items Available</p>
    </ng-template>
  </ng-container>
</section>
