<footer>
    <div class="cols">
        <div class="col links">
            <a routerLink="/products" routerLinkActive="active">products</a>
            <a routerLink="/gallery" routerLinkActive="active">gallery</a>
            <a routerLink="/commissions" routerLinkActive="active">commissions</a>
            <a routerLink="/contact" routerLinkActive="active">contact</a>
        </div>
        <div class="col socials">
            <a class="fa-brands fa-facebook" href="http://www.facebook.com" target="_blank"></a>
            <a class="fa-brands fa-instagram" href="http://www.instagram.com" target="_blank"></a>
            <a class="fa-brands fa-youtube" href="http://www.youtube.com" target="_blank"></a>
        </div>
        <div class="col legal">
            <a routerLink="/privacy">privacy policy</a>
            <a routerLink="/shipping">shipping</a>
            <a routerLink="/returns">return policy</a>
        </div>
    </div>
    <div class="copy"><p>&copy; 2025 Spade Woodworks. All rights reserved.</p></div>
</footer>