.footer {
  flex-shrink: 0;
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
  a {
    color: var(--text-on-dark);
    text-decoration: none;
    font-size: 16px;
    &:hover {
      color: var(--secondary-light);
      cursor: pointer;
    }
  }
  p {
    background-color: var(--primary-color);
    color: var(--text-on-dark);
    font-size: smaller;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.socials {
  align-items: center;
  gap: 15px;
}

.links {
  align-items: end;
}

.legal {
  align-items: start;
}

.quote {
  box-sizing: border-box;
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../../../../public/img/footer-quote.jpg) center center
    no-repeat;
  background-size: cover;
  p {
    font-size: 24px;
    color: var(--text-on-dark);
    background-color: transparent;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
    padding: 0 100px;
  }
}

@media all and (min-width: 700px) {
  .container {
    flex-direction: row;
  }
  .group {
    flex-direction: column;
    padding: 0 30px;
    gap: 5px;
  }
  .socials {
    order: 2;
    gap: 15px;
    border-right: 1px solid var(--primary-light);
    border-left: 1px solid var(--primary-light);
  }
  .links {
    order: 1;
  }
  .legal {
    order: 3;
    gap: 10px;
  }
}
