* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  background: var(--primary-color);
  padding: 0 15px;
}

a {
  position: relative;
  font-size: large;
  color: var(--text-on-dark);
  text-decoration: none;
  cursor: pointer;
}

.menu {
  list-style-type: none;
}

.item {
  padding: 10px;
}

.item a:hover {
  color: var(--secondary-color);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

.cart {
  position: absolute;
  background-color: var(--warn-color);
  color: white;
  text-align: center;
  border-radius: 1000px;
  font-size: small;
  width: 17px;
  height: 17px;
  left: 50%;
  top: 15%;
}

.logo a {
  display: flex !important;
  align-items: center;
  gap: 20px;
  cursor: default;
}

.logo a h2 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: large;
}

.logo a img {
  cursor: pointer;
}

@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .toggle {
    flex: 1;
    text-align: right;
  }
}

@media all and (min-width: 960px) {
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }
}
