<header>
  <div class="logo">
    <a routerLink="/"><img src="img/logo.png" height="60px" /></a>
    <h2>Spade Woodworks</h2>
  </div>
  <nav>
    <a routerLink="/products" routerLinkActive="active">products</a>
    <a routerLink="/gallery" routerLinkActive="active">gallery</a>
    <a routerLink="/commissions" routerLinkActive="active">commissions</a>
    <a routerLink="/contact" routerLinkActive="active">contact</a>
    <a routerLink="/shopping-cart"
      ><i class="fa-solid fa-cart-shopping"></i>
      <p class="cart" *ngIf="itemsInCart > 0">{{ itemsInCart }}</p></a
    >
  </nav>
</header>
