header {
  box-sizing: border-box;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px 20px;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    h2 {
      color: var(--text-on-dark);
      text-transform: uppercase;
      font-weight: lighter;
      font-size: large;
    }
  }

  nav {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 20px;
  }

  nav a {
    position: relative;
    color: var(--text-on-dark);
    text-decoration: none;
    font-size: large;
    &:hover {
      color: var(--secondary-light);
    }
  }

  nav a.active {
    color: var(--secondary-color);
  }

  .cart {
    position: absolute;
    background-color: var(--warn-color);
    color: white;
    text-align: center;
    border-radius: 1000px;
    font-size: small;
    width: 17px;
    height: 17px;
    right: -10px;
    top: -10px;
  }
}
