.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 50px;
  button:first-child {
    border-radius: var(--radius) 0 0 var(--radius);
  }
  button:nth-child(2) {
    border-radius: 0 var(--radius) var(--radius) 0;
  }
}

.logout {
  margin-left: 10px;
}

i {
  margin-right: 5px;
}

.products {
  gap: 10px;
}

.block {
  width: 100%;
  background-color: var(--primary-light);
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 0;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  &:link,
  &:hover,
  &:active,
  &:visited {
    color: var(--text-on-light);
    text-decoration: none;
  }
  .description {
    padding: 20px;
    background-color: transparent;
  }
  p {
    background-color: transparent;
  }
}

.block:nth-child(odd) {
  flex-direction: row-reverse;
  justify-content: right;
  text-align: right;
}
