<section>
  <div class="root">
    <div class="nav">
      <button
        (click)="selected = 'products'"
        [disabled]="selected === 'products'"
      >
        Products
      </button>
      <button
        (click)="selected = 'gallery'"
        [disabled]="selected === 'gallery'"
      >
        Gallery
      </button>
      <button class="logout" (click)="onLogout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>Logout
      </button>
    </div>

    <div class="container products" *ngIf="selected === 'products'">
      <div class="form-row">
        <button (click)="onNewProduct()">
          <i class="fa-solid fa-plus"></i>New Product
        </button>
      </div>
      <ng-container *ngFor="let category of categories">
        <h2 class="category">{{ category }}</h2>
        <div
          class="item-list"
          *ngIf="
            groupedItems[category] && groupedItems[category].length > 0;
            else noProducts
          "
        >
          <div
            class="card"
            *ngFor="let item of groupedItems[category]"
            [routerLink]="['/admin/products/', item._id]"
          >
            <div class="header">
              <img src="./img/uploads/{{ item.images[0] }}" width="300" />
            </div>
            <div class="content">
              <h3>{{ item.name }}</h3>
              <div *ngIf="item.available; else outOfStock">
                <p class="price">{{ item.price | currency }}</p>
              </div>
            </div>
            <ng-template #outOfStock
              ><p class="unavailable">Out of Stock</p></ng-template
            >
          </div>
        </div>
        <ng-template #noProducts>
          <p class="no-products">No Items Available</p>
        </ng-template>
      </ng-container>
    </div>

    <div class="container gallery" *ngIf="selected === 'gallery'">
      <div class="form-row">
        <button (click)="onNewGalleryPiece()">
          <i class="fa-solid fa-plus"></i>New Gallery Piece
        </button>
      </div>
      <a
        *ngFor="let piece of gallery"
        [routerLink]="['/admin/gallery/', piece._id]"
        class="block"
      >
        <img
          src="./img/uploads/{{ piece.images[0] }}"
          width="450"
          height="300"
        />
        <div class="description">
          <h3>{{ piece.name }}</h3>
          <p>{{ piece.teaser }}</p>
        </div>
      </a>
    </div>
  </div>
</section>
