.sorting {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 210px;
  margin-left: auto;
  margin-right: 0;
}

h1 {
  text-align: center;
}

@media all and (min-width: 620px) {
  .root {
    max-width: 620px;
    margin: 25px auto;
  }
}

@media all and (min-width: 940px) {
  .root {
    max-width: 940px;
    margin: 25px auto;
  }
}

@media all and (min-width: 1260px) {
  .root {
    max-width: 1260px;
    margin: 25px auto;
  }
}
