.tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../../../../public/img/landing-2.jpg) center center no-repeat;
  background-size: cover;
  padding: 5% 0;
  p {
    font-size: 24px;
    color: var(--text-on-dark);
    background-color: transparent;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
  }
}

.pitch {
  margin: 20px auto 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  .block {
    max-width: 600px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.product {
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--primary-light);
  .featured {
    border-radius: 5px;
    overflow: hidden;
  }
  .row {
    max-width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
  }
  p {
    background-color: transparent;
    color: var(--text-on-light);
  }
  h1 {
    margin-top: 5px;
  }
}

@media all and (min-width: 960px) {
  .pitch {
    max-width: 1024px;
  }
  .block {
    max-width: 280px !important;
    padding: 0 5px !important;
  }
}
