section {
  margin: 0;
  max-width: 100% !important;
}

.tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../../../../public/img/landing-2.jpg) center center no-repeat;
  background-size: cover;
  padding: 100px 0;
  p {
    font-size: 24px;
    color: var(--text-on-dark);
    background-color: transparent;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
  }
}

.pitch {
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  .block {
    max-width: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
  p {
    font-size: 18px;
  }
}

.product {
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--primary-light);
  .featured {
    border-radius: 5px;
    overflow: hidden;
  }
  .row {
    max-width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
  }
  p {
    background-color: transparent;
    color: var(--text-on-light);
  }
  h1 {
    margin-top: 5px;
  }
}
