<section>
  <div class="tag">
    <p>bespoke</p>
    <p>hand-made</p>
    <p>heirloom quality</p>
    <p>crafts &</p>
    <p>furniture</p>
  </div>
  <div class="pitch">
    <div class="block">
      <img src="img/handmade.png" />
      <p>
        Discover the art of true craftsmanship with our hand-made pieces. Each
        item is meticulously created—from the careful selection of premium wood,
        through traditional joinery techniques, to the flawless final finish.
        Our artisans pour passion and precision into every detail, ensuring that
        every creation is a one-of-a-kind masterpiece that reflects both quality
        and individuality.
      </p>
    </div>
    <div class="block">
      <img src="img/bespoke.png" />
      <p>
        Imagine a space designed just for you. Whether it's that one special
        wall or a signature wood species that perfectly complements your home,
        we tailor every detail to your unique vision. Our expert craftsmen work
        closely with you to custom-build each piece, ensuring a flawless fit and
        ultimate satisfaction every time.
      </p>
    </div>
    <div class="block">
      <img src="img/sustainable.png" />
      <p>
        Experience the difference of true quality and sustainability. Our pieces
        are crafted from 100% solid, domestic, non-endangered hardwood—never
        plywood, particle board, or any manufactured substitutes. Plus, our
        eco-friendly process ensures no toxic glues or dangerous solvents are
        used, so you can enjoy beauty and safety in every detail.
      </p>
    </div>
  </div>
  <div *ngIf="product" class="product">
    <div class="row">
      <a [routerLink]="['/products', product._id]"
        ><img
          class="featured"
          src="img/uploads/{{ product.images[0] }}"
          width="400"
          height="300"
      /></a>
      <div>
        <h1>Featured Product</h1>
        <h3>{{ product.name }}</h3>
        <p [innerHTML]="product.description! | decode"></p>
      </div>
    </div>
  </div>
</section>
