<section>
  <div class="tag">
    <p>bespoke</p>
    <p>hand-made</p>
    <p>heirloom quality</p>
    <p>crafts &</p>
    <p>furniture</p>
  </div>
  <div class="pitch">
    <div class="block">
      <img src="./img/handmade.png" />
      <p>
        Every piece is hand-made, from wood selection, to joinery, to final
        finish. We take great care in building every piece and you can be sure
        that each one is as unique as the craftsman.
      </p>
    </div>
    <div class="block">
      <img src="./img/bespoke.png" />
      <p>
        Have specific space requirements for that one wall? Want a particular
        wood species to match your home? Regardless of your needs, we strive to
        meet them and will custom build everything to your specifications. Your
        satisfaction is our goal.
      </p>
    </div>
    <div class="block">
      <img src="./img/sustainable.png" />
      <p>
        We use 100% solid, domestic, non-endangered hardwood in all of our
        pieces. We don't use plywood, particle board, or any other manufactured
        woods. We also don't use any glues or finishes that are toxic or contain
        dangerous solvents.
      </p>
    </div>
  </div>
  <div class="product">
    <div class="row">
      <img src="https://placehold.co/300x200" />
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit tempore
        deleniti quas impedit ipsum culpa iste quo, et amet, vitae aliquid
        nesciunt doloribus est, temporibus animi dolorem expedita id minus!
      </p>
    </div>
  </div>
</section>
