.landing {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
  .specials,
  .testimonials {
    margin-top: 20px;
  }
  blockquote {
    font-style: italic;
    color: var(--text-color);
  }
}
