.cart {
  margin: 50px 0;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

h1 {
  text-align: center;
}

h3 {
  margin-top: 0;
}

.cart-item {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: auto 100px;
  grid-template-areas:
    'details price'
    'details quantity'
    'details delete'
    'details .';
}

.image {
  display: none;
}

.details {
  grid-area: details;
}

.form-group {
  grid-area: quantity;
}

.price {
  grid-area: price;
  text-align: right;
  p {
    font-weight: bold;
    font-size: 20px;
  }
}

.delete {
  grid-area: delete;
}

.tally {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.titles,
.values {
  text-align: right;
}

.total {
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

@media all and (min-width: 700px) {
  .image {
    display: block;
  }
  .price {
    grid-row: 1;
  }
  .image {
    grid-row: span 2;
  }
  .cart-item {
    border: 1px solid var(--primary-light);
    border-radius: var(--radius);
    padding: 20px;
    column-gap: 20px;
    grid-template-columns: 150px auto 100px;
    grid-template-areas:
      'image details price'
      'image details quantity'
      '. details delete'
      '. details .';
  }
}

@media all and (min-width: 1024px) {
  .image {
    display: block;
  }
  .cart-item {
    border: 1px solid var(--primary-light);
    border-radius: var(--radius);
    padding: 20px;
    column-gap: 20px;
    grid-template-columns: 150px auto 100px 100px 100px;
    grid-template-areas: 'image details quantity price delete';
  }
}
