<section>
  <div class="root">
    <h1>Shopping Cart</h1>
    <div class="cart" *ngIf="cart.items.length > 0; else emptyCart">
      <div class="cart-item" *ngFor="let item of cart.items">
        <div class="image">
          <img class="image" src="img/uploads/{{ item.image }}" />
        </div>
        <div class="details">
          <h3>{{ item.name }}</h3>
          <p *ngFor="let option of item.options">{{ option }}</p>
        </div>
        <div class="form-group">
          <select id="quantity" name="quantity" [(ngModel)]="item.quantity">
            <option
              *ngFor="let quantity of [].constructor(10); index as i"
              [value]="i + 1"
              [selected]="item.quantity === i + 1"
            >
              {{ i + 1 }}
            </option>
          </select>
          <label for="quantity">Quantity</label>
        </div>
        <div class="price">
          <p>{{ item.price * item.quantity | currency }}</p>
        </div>
        <div class="delete">
          <button (click)="removeItem(item)">Remove</button>
        </div>
      </div>

      <div class="shipping">
        <div class="form-group">
          <select (change)="onShippingChange($event)" [value]="0">
            <option
              *ngFor="let rate of shippingRates; let i = index"
              name="shipping"
              id="shipping"
              value="{{ i }}"
            >
              {{ rate.display }} <strong>{{ rate.cost | currency }}</strong>
            </option>
          </select>
          <label for="shipping">Shipping</label>
        </div>
        <!-- <div class="rate" *ngFor="let rate of shippingRates; let i = index">
          <input
            type="radio"
            name="shipping"
            id="rate{{ i }}"
            value="{{ rate.cost }}"
            (change)="onShippingChange($event, i)"
          />
          <label for="rate{{ i }}"
            >{{ rate.display }}
            <strong>{{ rate.cost | currency }}</strong></label
          >
        </div> -->
      </div>

      <div class="tally">
        <div class="titles">
          <!-- <p>Subtotal</p> -->
          <!-- <p>Tax</p> -->
          <p>Shipping</p>
          <p class="total">Subtotal</p>
        </div>
        <div class="values">
          <!-- <p>{{ subtotal | currency }}</p> -->
          <!-- <p>{{ tax | currency }}</p> -->
          <p>{{ shipping | currency }}</p>
          <!-- <p class="total">{{ subtotal + tax + shipping | currency }}</p> -->
          <p class="total">{{ subtotal + shipping | currency }}</p>
        </div>
      </div>
      <button class="checkout" (click)="onCheckout()">Checkout</button>
    </div>
  </div>
</section>
<ng-template #emptyCart>
  <p class="cart">Your cart is empty.</p>
</ng-template>
