.details {
  margin: 20px auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin-bottom: 20px;
  }
  .price {
    font-size: xx-large;
    font-weight: bolder;
  }
}

.actions {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  button {
    width: 100%;
  }
}

.description {
  white-space: pre-wrap;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.options {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: 1px solid var(--primary-light);
  border-radius: var(--radius);
  cursor: pointer;
  &:hover {
    border: 1px solid var(--primary-color);
  }
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.price {
  font-weight: bold;
}

.selected {
  border: 1px solid transparent;
  color: var(--primary-color);
  background-color: var(--primary-color);
  p,
  h3 {
    color: var(--text-on-dark);
  }
}

@media all and (min-width: 700px) {
  .details {
    padding: 20px;
    border: 1px solid var(--primary-light);
    border-radius: 5px;
  }
  .items {
    flex-direction: row !important;
  }
  .actions {
    button {
      width: 25%;
      align-self: center;
    }
  }
}
