.details {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--primary-light);
  border-radius: 5px;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
      margin-bottom: 20px;
    }
    .price {
      font-size: xx-large;
      font-weight: bolder;
    }
  }
  .actions {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
      width: 100%;
    }
  }
  p {
    margin: 10px 0;
  }
}
