// Theme Variables
:root {
  --primary-color: #262022;
  --primary-dark: color-mix(in oklab, var(--primary-color), black 10%);
  --primary-light: color-mix(in oklab, var(--primary-color), white 60%);

  --secondary-color: #ce7115;
  --secondary-dark: color-mix(in oklab, var(--secondary-color), black 20%);
  --secondary-light: color-mix(in oklab, var(--secondary-color), white 20%);

  --accent-color: #e3c765;
  --accent-dark: color-mix(in oklab, var(--accent-color), black 20%);
  --accent-light: color-mix(in oklab, var(--accent-color), white 20%);

  --warn-color: #ce3815;
  --warn-dark: color-mix(in oklab, var(--warn-color), black 20%);
  --warn-light: color-mix(in oklab, var(--warn-color), white 20%);

  --background-dark: color-mix(in oklab, var(--primary-color), black 20%);
  --background-light: color-mix(in oklab, var(--primary-color), white 80%);

  --text-on-light: #333;
  --text-on-dark: #ddd;

  --radius: 4px;
}

// GLOBAL
body,
button,
input,
textarea,
label,
p {
  font-family: 'Anaheim', sans-serif;
  color: var(--text-on-light);
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  background-color: var(--background-light);
  margin: 0;
}

h1 {
  font-family: 'Imperial Script', serif;
  font-weight: 900;
  font-style: normal;
  font-size: 32px;
  margin: 0;
}

a,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Goudy Bookletter 1911', serif;
}

section {
  box-sizing: border-box;
  width: 100%;
  // max-width: 960px;
  // margin: 50px auto 100px auto;
}

.root {
  margin: 20px auto 50px auto;
  padding: 0 50px;
}

// BUTTONS
button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: var(--radius);
  cursor: pointer;
  &:hover {
    background-color: var(--secondary-light);
  }
  &:disabled {
    background-color: var(--primary-light);
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: var(--secondary-light);
  }
}

// FORMS
form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  .error {
    color: var(--warn-color);
    font-size: 0.85em;
    margin-top: 5px;
  }
}

.error {
  color: var(--warn-color);
  font-size: 0.85em;
  margin-top: 5px;
}

.form-group {
  position: relative;
  width: 100%;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
}

.form-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.input-lg {
  width: 60%;
}

.input-md {
  width: 25%;
}

.input-sm {
  width: 15%;
}

input:not([type='checkbox']),
textarea,
select {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--primary-color);
  outline: 0;
  font-size: 16px;
  color: var(--primary-color);
  padding: 7px 0;
  background: var(--background-light);
  transition: border-color 0.2s;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: transparent;
}

input:placeholder-shown ~ label,
textarea:placeholder-shown ~ label,
select:placeholder-shown ~ label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}

label:not([type='checkbox']),
input:focus ~ label:not([type='checkbox']),
textarea:focus ~ label,
select:focus ~ label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: var(--primary-color);
}

input:focus ~ label,
textarea:focus ~ label,
select:focus ~ label {
  color: var(--secondary-color);
}

input:focus,
textarea:focus,
select:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid var(--secondary-color);
}

.file-select {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-label,
.file-label:focus,
.file-label:link,
.file-label:hover,
.file-label:active,
.file-label:visited,
.file-label:visited:active {
  display: block !important;
  position: relative;
  width: 128px;
  height: 96px;
  background: rgba(0, 0, 0, 0.25);
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  cursor: pointer;
  font-size: large !important;
  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }
}

.file-label,
.file-label:focus ~ .file-label {
  position: relative !important;
}

// PRODUCTS / INVENTORY
.category {
  padding-top: 20px;
}
.item-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

// PRODUCT CARD
.card {
  background-color: var(--primary-light);
  padding: 0;
  border-radius: 5px;
  width: 300px;
  height: 350px;
  box-sizing: border-box;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
  h3 {
    margin-top: 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
  }
  .price,
  .unavailable {
    font-size: 30px;
    text-align: center;
    background-color: var(--primary-light);
  }
  .price {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 30px;
  }
}

@media all and (min-width: 700px) {
  .item-list {
    justify-content: start;
  }
}

@media all and (min-width: 1024px) {
  .root {
    max-width: 960px;
  }
}
